<div class="booyah-box col-10 offset-1">
  <h1>Enter Your Event Details</h1>
  <%= simple_form_for @event do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :distance %>
    <%= f.input :benefit %>
    <%= f.input :contact%>
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>  
</div>
