<!DOCTYPE html>
<html>
  <head>
    <title>Virtual</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
    </style> 

  </head>

  <body>
    <%= yield %>
  </body>
</html>
